body{
    background-color: aquamarine;
}
thead{
    background-color: blueviolet;
}
tbody{
    background-color: bisque;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    padding: 5px;
}
td{    
    text-align: left;
    padding: 2px;
}

thead{
    background-color: blueviolet;
}
.container{
    display: flex;
    gap: 20px;
}